<Project ToolsVersion="4.0" encoding="utf-8"? xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <!-- <WebPublishMethod>Package</WebPublishMethod> -->
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <DesktopBuildPackageLocation>D:\deployedApp\newapp</DesktopBuildPackageLocation>

    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <!-- <PublishProvider>FileSystem</PublishProvider> -->
    <!-- <PublishUrl>S:\.NET Projects\may 2023\publish files</PublishUrl> -->
    <WebPublishMethod>FileSystem</WebPublishMethod>

    <!-- <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish> -->
    <!-- <MSDeployServiceURL>webappwithdb.scm.azurewebsites.net:443</MSDeployServiceURL> -->
    <!-- <DeployIisAppPath>MyIIS</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup> -->
    <!-- <UserName>$vramakwebappwithdb</UserName> -->
    <!-- <Password>DeployPassword</Password> -->

  </PropertyGroup>
</Project>