<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <!-- <WebPublishMethod>Package</WebPublishMethod> -->
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <!-- <DesktopBuildPackageLocation>D:\Artifacts</DesktopBuildPackageLocation> -->
    <DesktopBuildPackageLocation>C:\inetpub\wwwroot\</DesktopBuildPackageLocation>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <DeployIisAppPath>https://github.com/sumanprasad007/asp-dotnet-app-github-action-pipeline/publish</DeployIisAppPath>

    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <!-- <PublishProvider>FileSystem</PublishProvider> -->
    <!-- <PublishUrl>S:\.NET Projects\may 2023\publish files</PublishUrl> -->
    <SiteUrlToLaunchAfterPublish>https://github.com/sumanprasad007/asp-dotnet-app-github-action-pipeline/publish</SiteUrlToLaunchAfterPublish>

    <!-- <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish> -->
    <!-- <MSDeployServiceURL>webappwithdb.scm.azurewebsites.net:443</MSDeployServiceURL> -->
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <!-- <UserName>$vramakwebappwithdb</UserName> -->
    <!-- <Password>DeployPassword</Password> -->

  </PropertyGroup>
</Project>